@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Rubik:wght@400;700&display=swap');
@import './components/header/Header.scss';
@import './components/item-list/Item.scss';
@import './components/footer/Footer.scss';
$typography1: 'Playfair Display', serif;
$typography2: 'Rubik', sans-serif;
$black: black;
$blue: #000080;
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    .container-fluid {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}
@mixin styleText ($color, $font-family, $text-align) {
    color: $color;
    font-family: $font-family;
    text-align: $text-align;
}
h1 {
    @include styleText ($black, $typography1, center);
    font-weight: 700;
    font-size: 44px;
}
h2 {
    @include styleText ($black, $typography1, center);
    font-weight: 700;
    font-size: 44px;
}
h3 {
    @include styleText ($black, $typography1, center);
    font-weight: 700;
    font-size: 36px;
}
h4 {
    @include styleText ($black, $typography1, center);
    font-size: 26px;
}
h5 {
    @include styleText ($black, $typography2, center);
    margin: 0 0 0.5rem 0;
    font-size: 20px;
}
p {
    @include styleText ($black, $typography2, center);
    font-size: 16px;
}
span {font-family: $typography2;}
li {
    @include styleText ($black, $typography2, left);
    margin: 0;
    font-size: 16px;
}
button {
    font-family: $typography2;
    letter-spacing: 2px;
}
form {font-family: $typography2;}
a {
    text-decoration: none;
    color: $black;
}
a:hover {
    text-decoration: none;
    color: $blue;
}
.instagram {font-size: 1.3rem;}
.parallax--index {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vinoteca-2170e.appspot.com/o/parallax.jpg?alt=media&token=2f7387e4-9a9f-4828-9ff9-2a1ed44b3295");
    width: 100%;
    height: 35rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.img--us {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 1200px){
    h1 {font-size: 44px;}
    h2 {font-size: 44px;}
    h3 {font-size: 38px;}
    h4 {font-size: 32px;}
    h5 {font-size: 26px;}
    p {font-size: 24px;}
    .parallax--index {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/vinoteca-2170e.appspot.com/o/parallax_1200.jpg?alt=media&token=eb9380a1-d1db-447b-9464-c928549de3c4");
        height: 35rem;
    }
}
@media only screen and (max-width: 768px) {
    h1 {font-size: 36px;}
    h2 {font-size: 36px;}
    h3 {font-size: 31px;}
    h4 {font-size: 26px;}
    h5 {font-size: 21px;}
    p {font-size: 14px;}
    span {font-size: 14px;}
    button {font-size: 14px;}
    form {font-size: 14px;}
    .parallax--index {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/vinoteca-2170e.appspot.com/o/parallax_768.jpg?alt=media&token=f011132b-198b-4e7d-9fa2-5b183534f484");
        background-attachment: initial;
        height: 25rem;
    }
}
@media only screen and (max-width: 360px) {
    h1 {font-size: 30px;}
    h2 {font-size: 30px;}
    h3 {font-size: 26px;}
    h4 {font-size: 22px;}
    h5 {font-size: 18px;}
    p {font-size: 14px;}
    span {font-size: 12px;}
    button {font-size: 14px;}
    form {font-size: 14px;}
    .parallax--index {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/vinoteca-2170e.appspot.com/o/parallax_360.jpg?alt=media&token=a958cd6f-d227-4da1-9ec9-dd9141844ff7");
        background-attachment: initial;
        height: 15rem;
    }
}