@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Rubik:wght@400;700&display=swap');
$typography1: 'Playfair Display', serif;
$typography2: 'Rubik', sans-serif;
$black: black;
$blue: #000080;
.container-fluid {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
@mixin styleText ($color, $font-family, $text-align) {
    color: $color;
    font-family: $font-family;
    text-align: $text-align;
}
h1 {
    @include styleText ($black, $typography1, center);
    font-weight: 700;
    font-size: 44px;
}
h2 {
    @include styleText ($black, $typography1, center);
    font-weight: 700;
    font-size: 44px;
}
h3 {
    @include styleText ($black, $typography1, center);
    font-weight: 700;
    font-size: 36px;
}
h4 {
    @include styleText ($black, $typography1, center);
    font-size: 26px;
}
h5 {
    @include styleText ($black, $typography2, center);
    margin: 0 0 0.5rem 0;
    font-size: 20px;
}
p {
    @include styleText ($black, $typography2, center);
    font-size: 16px;
}
span {font-family: $typography2;}
li {
    font-family: $typography2;
    margin: 0;
    font-size: 16px;
}
button {
    font-family: $typography2;
    letter-spacing: 2px;
}
form {font-family: $typography2;}
a {
    text-decoration: none;
    color: $black;
}
a:hover {
    text-decoration: none;
    color: $blue;
}
@media only screen and (max-width: 1200px){
    h1 {font-size: 44px;}
    h2 {font-size: 44px;}
    h3 {font-size: 38px;}
    h4 {font-size: 32px;}
    h5 {font-size: 26px;}
    p {font-size: 24px;}
}
@media only screen and (max-width: 768px) {
    h1 {font-size: 36px;}
    h2 {font-size: 36px;}
    h3 {font-size: 31px;}
    h4 {font-size: 26px;}
    h5 {font-size: 21px;}
    p {font-size: 14px;}
    span {font-size: 14px;}
    button {font-size: 14px;}
    form {font-size: 14px;}
}
@media only screen and (max-width: 360px) {
    h1 {font-size: 30px;}
    h2 {font-size: 30px;}
    h3 {font-size: 26px;}
    h4 {font-size: 22px;}
    h5 {font-size: 18px;}
    p {font-size: 14px;}
    span {font-size: 12px;}
    button {font-size: 14px;}
    form {font-size: 14px;}
}